{% extends 'base.html' %}

{% block main %}
 <div>
 <h1>Retrieving emails from google</h1>

 <p>
  <ul>
   {% if user and not user.is_anonymous %}
     <li>Hello {{ user.get_full_name|default:user.username }}!</li>
     <li style="margin-bottom:10px;"> <!-- TODO: Move to the right -->
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
     <table class="table table-striped">
     <tr>
       <th>From</th>
       <th>Subject</th>
     </tr>
     {% for message in messages %}
     <tr>
       <td>{{ message.from }}</td>
       <td>{{ message.subject }}</td>
     </tr>
     {% endfor %}
     </table>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
   {% endif %}
  </ul>
 </p>
 </div>
{% endblock %}